html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    @apply text-gray-700;
}

img {
    border-style: none;
}

a.default {
    @apply text-primary hover:text-primary-light;
}
[x-cloak] {
    display: none !important;
}

.resizers {

    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .resizer {
        width: 15px;
        height: 15px;
        // border-radius: 50%;
        // background: white;
        // border: 2px solid #4286f4;
        position: absolute;

        &.top-left {
            left: -10px;
            top: -10px;
            cursor: nwse-resize;
        }
        &.top-right {
            right: -10px;
            top: -10px;
            cursor: nesw-resize;
        }
        &.bottom-left {
            left: -10px;
            bottom: -10px;
            cursor: nesw-resize;
        }
        &.bottom-right {
            right: -10px;
            bottom: -10px;
            cursor: nwse-resize;
        }

    }

    .group-label {
        position: absolute;
        top: 0px;
        right: 1px;
        font-size: .6rem;
    }



}


.custom-dropdown:hover > .custom-dropdown-content {
	display: block;
}

.table-container {
    @apply py-2 align-middle inline-block min-w-full;
    .table-div {
        @apply shadow border border-gray-200 sm:rounded-lg;
        table {
            @apply min-w-full divide-y divide-gray-200;
            thead {
                th {
                    @apply bg-gray-50 px-2 py-3 text-left tracking-wider whitespace-nowrap text-sm font-medium text-gray-500;
                }
            }
            tbody {
                @apply  bg-white divide-y divide-gray-200;
                td {
                    @apply p-2 text-gray-500 text-xs;
                }
            }
        }
    }
}

.table-default {
    @apply divide-y divide-gray-200 w-full;

    &.th-text-center {
        th {
            @apply text-center
        }
    }
    &.td-text-center {
        td {
            @apply text-center
        }
    }
    th {
        @apply p-2 border-b
    }
    td {
        @apply p-2 border-b;
    }
}

.pagination-div {
    @apply w-full;
}

/* auth errors */
.validation-errors {
    @apply mt-4 bg-red-50 text-red-700 p-2 border border-red-700 rounded-lg shadow;
}
/* sortablejs */
.drag-clone {
    @apply bg-secondary-lightest;
}

/* image cropping */

.filepond--panel-root {

    @apply bg-primary-lightest text-gray-700 border-dashed border-4 border-blue-500;
}


.min-w-600 {
    min-width: 600px;
}
.min-w-1000 {
    min-width: 1000px;
}



.test{
// default
color: #4770b3;
color: #3f629c;
color: #365483;
color: #2a4266;
color: #273d5e;

// primary
color: #e0ecff;
color: #4e84da;
color: #4a78c2;
color: #3f629c;
color: #37578a;
color: #2b4670;

color: #ffa366;
}
